{% extends 'layout/app.twig' %}
{% block a1content %}
	<img class="imgLogo" src="./favicon.ico" />&nbsp;<b><span class="spanTitle">PORTAL DE CONTROLE E GESTÃO DE CONTRATOS</span></b>
{% endblock %}

{% block a2content %}
	<div id="dvLogin">
		<form id="dvLoginFrm" onsubmit="return false;">
			<input type="text" id="dvLoginTxtId" size="9" maxlength="7" placeholder="LOGIN" value="C110611" />
			<input type="password" id="dvLoginTxtPwd" size="9" maxlength="8" placeholder="SENHA" value="Jupiter3" />
			<button class="app-btn c" onclick="loginSystem();" title="login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;LOGIN</button>
			<button class="app-btn nok" onclick="logoutSystem();" title="logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;LOGOUT</button>
		</form>
	</div>
{% endblock %}

{% block script %}{% endblock %}
