{% extends 'layout/skeleton.twig' %}
{% block content %}
<table class="tblTitle">
	<tr>
		<td><span class="spanTitle">DOCUMENTOS</span></td>
	</tr>
</table>
<table style="width:99%;">
	<tr>
		<td style="border:1px solid red;width:40%;">
			<form id="empresaDocumentoFrm" onsubmit="return false;" style="margin-right:0.5rem;width:50%;">
				<table class="tblForm">
					
					<tr>
						<td class="title">TIPO DOCUMENTO</td>
						<td>{{ comboTipoDocumento | raw }}</td>
					</tr>
					<tr>
						<td class="title">SELECIONAR ARQUIVO</td>
						<td colspan="2">
							<input type="file" name="documento" required>
							<!--<button class="app-btn b" onclick="salvarDocumentoEmpresaSystem();" title="upload documento"><span class="glyphicon glyphicon-upload"></span>&nbsp;ESCOLHER ARQUIVO</button>-->
						</td>
						
					</tr>
					<tr>
						<td class="title">OBSERVAÇÃO</td><td colspan="3">
							<textarea id="empresaDocumentoTxtObservacao" cols="50" rows="8" maxlength="8000" style="margin:0.5rem 0.2rem 0 0 ;">{{ obj.observacao }}</textarea>
						</td>
						<tr>
							<td colspan="2"><button class="app-btn b" onclick="salvarDocumentoEmpresaSystem({{ idEmpresa }});" title="novo documento"><span class="glyphicon glyphicon-ok"></span>&nbsp;SALVAR</button></td>
						</tr>
					</tr>
				</table>
			</form>
		</td>
		<td style="border:1px solid red;width:50%;">
			<table>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri 4-0594-05 45-60496 46-0.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<!--<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>
				<tr><td>20051600164058272379055_ruroiwoirwirwioooiwoeriweorwri.7z</td><td>111</td><td>111</td><td>x</td></tr>-->
			</table>
		</td>
	</tr>
</table>
{% endblock %}
{% block script %}
<script>
</script>
{% endblock %}